<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a
          class=" nav-link"
          href="https://www.liksi.fr"
        >
          Liksi
        </a>
      </li>
      <li class=" nav-item">
        <a
          class=" nav-link"
          href="https://www.liksi.fr"
        >
          Contactez nous
        </a>
      </li>
      <li class=" nav-item">
          <a class=" nav-link" routerLink="/full/help">Aide</a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" routerLink="/full/icons">Icons</a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made by
      <a href="https://www.liksi.fr" target="_blank">
        LIKSI
      </a>
      for a better web.
    </div>
  </div>
</footer>
