<div class=" content">
    <ng-container *ngFor="let item1 of tab; let k=index">
    <div class=" row  mt-4" >
        <ng-container *ngFor="let item of tabIcon[k]; let i=index">
        <div class=" col-2">
            <i class=" {{ item | getIcon : tabType1[k][i] }}  fa-2x mr-2 primary-text"> </i>
            <i class=" {{ item | getIcon : tabType2[k][i] }}  fa-2x mr-2 info-text"> </i>
            <i class=" {{ item | getIcon : tabType3[k][i] }}  fa-2x mr-2 success-text"> </i>
            <p>{{tabIcon[k][i]}}</p>
        </div>
        </ng-container>
    </div>
    </ng-container>

</div>
