<div class="content">
    <section class="row">

        <div class="col-4 d-flex justify-content-left">
            <span class="ml-4 white-text-underline">Liste</span>
        </div>

        <div *ngIf="members" class="col-8 d-flex justify-content-end">
            <ng-container *ngFor="let data of typeMember; let i= index">
                <a style="cursor: pointer" (click)="onTypeMember(i)">
                    <i class="{{i | getTypeMember : 'icon'}} white-text ml-2"> </i>
                    <span class="white-text" style="font-size: small"> {{i | getTypeMember : 'text'}} </span>
                    <span class=" mr-3 badge {{i | getTypeMember : 'badge'}}" >{{members.type[i]}}</span>
                </a>
            </ng-container>
        </div>
    </section>

    <section>
        <div class=" row mt-4">
            <div class=" col-12">
                <div class=" card">
                    <div class=" card-header">
                        <div class=" tools float-right">
                            <div class=" dropdown" dropdown>
                                <button class=" btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                                        data-toggle="dropdown"
                                        dropdownToggle
                                        type="button">
                                    <i class=" tim-icons icon-settings-gear-63"> </i>
                                </button>
                                <div class=" dropdown-menu dropdown-menu-right" *dropdownMenu>
                                    <a class=" dropdown-item text-default" (click)="onCreateMember();">
                                        <i class=" {{'create' | getIcon : 'fal'}} mr-1" > </i>Nouvelle Ressource </a>
                                </div>
                            </div>
                        </div>
                        <h5 class=" card-title">Liste de Ressources</h5>
                    </div>
                    <div class=" card-body">
                        <div class=" table-responsive">
                            <table class=" table">
                                <thead class=" text-primary">
                                <tr>
                                    <th class=" text-center">#</th>
                                    <th>
                                        <a (click)="sortBy('name', 1)">
                                            Nom
                                            <i class=" {{'sort' | getIcon : 'fad'}} ml-2" > </i>
                                        </a>
                                    </th>
                                    <th>
                                        <a (click)="sortBy('surname', 2)">
                                            Prénom
                                            <i class=" {{'sort' | getIcon : 'fad'}} ml-2" > </i>
                                        </a>
                                    </th>
                                    <th class=" text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="members">
                                <tr *ngFor="let data of members.items; let i = index">
                                    <td class=" text-center">
                                        <div class=" photo">
                                            <img alt="photo" [src]="data.photo | photoPipe" />
                                        </div>
                                    </td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.surname}}</td>
                                    <td class=" text-right">
                                        <button (click)="onChangeMember(i)"
                                                class=" btn btn-success btn-link btn-icon btn-sm btn-simple"
                                                tooltip="Modifier"
                                                type="button">
                                            <i class=" {{'change' | getIcon : ''}}" > </i>
                                        </button>
                                        <button (click)="deleteMember(i)"
                                                class=" btn btn-danger btn-link btn-icon btn-sm btn-simple"
                                                tooltip="Supprimer"
                                                type="button">
                                            <i class=" {{'remove' | getIcon : ''}}" > </i>
                                        </button>
                                        <button  (click)="onSelect(data.id)"
                                                 class=" btn btn-secondary btn-link btn-icon btn-sm btn-simple"
                                                 tooltip="Afficher"
                                                 type="button">
                                            <i class=" {{'zoom' | getIcon : ''}}" > </i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="members" class="row mt-2">
        <div class="col-md-12 d-flex justify-content-md-center">
            <nav class="mt-2 mb-4 pt-2">

                <ul class="pagination pg-dark mb-0 flex-wrap">
                    <!--First-->
                    <li class="page-item clearfix d-none d-md-block" (click)="firstPage()"
                        [ngClass]="{disabled: activePage == 1}">
                        <a class="page-link">&laquo;</a>
                    </li>
                    <!--Arrow left-->
                    <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                        <a class="page-link" aria-label="Previous">
                            <span>Précédent</span>
                        </a>
                    </li>
                    <!--Numbers-->
                    <li class="page-item" #pages
                        *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index"
                        [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                        <a class="page-link waves-light" (click)="changePage($event)">{{page}}</a>
                    </li>
                    <!--Arrow right-->
                    <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                        <a class="page-link" aria-label="Next">
                            <span>Suivant</span>
                        </a>
                    </li>
                    <!--Last-->
                    <li class="page-item clearfix d-none d-md-block" (click)="lastPage()"
                        [ngClass]="{disabled: activePage == numberOfPaginators}">
                        <a class="page-link">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>

<!--- MODAL NEW -->
<app-member-modal  [events]="eventsModalMember.asObservable()"
                   (createMember)="createMember($event)"
                   (changeMember)="changeMember($event)">
</app-member-modal>

<!--- MODAL DELETE -->
<app-modal-confirm-delete  [events]="eventsModalDelete.asObservable()"
                           (confirmation)="confirmDelete($event)">
</app-modal-confirm-delete>
