<div class="full-page login-page"
     style="background-image: url('../../../assets/img/bg17.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;">
    <div class="content">
        <div class=" container">
            <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
                <form [formGroup]="loginForm">
                    <div class=" card card-login card-white">
                        <div class=" card-header">
                            <img alt="" src="../../../assets/img/card-info.png" />
                            <h1 class=" card-title">Log in</h1>
                        </div>
                        <div class=" card-body">
                            <div    class=" input-group"
                                    [ngClass]="{ 'input-group-focus': focusEmail === true,
                                                 'has-danger':     ((focusTouchedEmail || formOk) && email.errors) ||
                                                                    (email.value != '' && email.errors),
                                                 'has-success':     !email.errors
                                     }">
                                <div class=" input-group-prepend">
                                    <div class=" input-group-text">
                                        <i class=" tim-icons icon-email-85"> </i>
                                    </div>
                                </div>
                                <input
                                        class=" form-control"
                                        placeholder="Email"
                                        formControlName="email"
                                        type="email"
                                        (blur)="focusEmail = false"
                                        (focus)="focusEmail = true; focusTouchedEmail=true"
                                />
                                <label class="error" *ngIf="((focusTouchedEmail || formOk) && email.errors) ||
                                                                        (email.value != '' && email.errors)">
                                    Merci de renseigner une adresse mail valide
                                </label>
                            </div>
                            <div    class=" input-group"
                                    [ngClass]="{ 'input-group-focus': focusPassword === true ,
                                                 'has-danger':    ((focusTouchedPassword || formOk) && password.errors) ||
                                                                   (password.value != '' && password.errors),
                                                 'has-success':    !password.errors}">
                                <div class=" input-group-prepend">
                                    <div class=" input-group-text">
                                        <i class=" tim-icons icon-lock-circle"> </i>
                                    </div>
                                </div>
                                <input
                                        class=" form-control"
                                        placeholder="Password"
                                        formControlName="password"
                                        type="password"
                                        (blur)="focusPassword = false"
                                        (focus)="focusPassword = true; focusTouchedPassword=true"
                                />
                                <label class="error" *ngIf=" ((focusTouchedPassword || formOk) && password.errors) ||
                                                                         (password.value != '' && password.errors)">
                                    Ce champ est requis  (6 caractères minimum)
                                </label>
                            </div>
                        </div>

                        <div class=" card-footer">
                            <button type="button"
                                    class="btn btn-info btn-lg btn-block"
                                    (click)="onLogin()">
                                Se connecter
                            </button>
                            <div class=" pull-left">
                                <h6>
                                    <a class=" link footer-link text-info" href="register">
                                        Créer un compte
                                    </a>
                                </h6>
                            </div>
                            <div class=" pull-right">
                                <h6>
                                    <a class=" link footer-link text-info" href="forgot-password">
                                        Mot de passe oublié ?
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
