<div class=" card card-stats">
    <div class=" card-body">
        <div class=" row">
            <div class=" col-5">
                <div class=" info-icon text-center {{iconColor}}">
                    <i class=" {{icon}}"> </i>
                </div>
            </div>
            <div class=" col-7">
                <div class=" numbers">
                    <p class=" card-category">{{title}}</p>
                    <h4 class=" card-title">{{value}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class=" card-footer">
        <hr />
        <div class=" stats d-flex justify-content-between">
            <div>
            <i class="{{iconComment}} "> </i> {{comment1}}
            </div>
            <div>
                {{comment2}}
            </div>
        </div>
    </div>
</div>
