<div class="wrapper">
    <div *ngIf="!fullPage" class=" navbar-minimize-fixed d-inline" (click)="minimizeSidebar()">
        <button class=" minimize-sidebar btn btn-link btn-just-icon"
                placement="right">
            <i class=" tim-icons icon-align-center visible-on-sidebar-regular"> </i>
            <i class=" tim-icons icon-bullet-list-67 visible-on-sidebar-mini"> </i>
        </button>
    </div>
    <div class="sidebar" *ngIf="!fullPage">
        <app-sidebar></app-sidebar>
    </div>
    <div [class] = "{'main-panel': !fullPage }">
        <app-auth-navbar *ngIf="fullPage" [floating]="floating"></app-auth-navbar>
        <app-navbar *ngIf="!fullPage" [breadcrumb]="breadcrumbs"></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>

