<div class=" content">
    <div class="row mt-4">
        <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div class="serv-section-2 serv-section-2-act">
                <a class="serv-section-2-icon serv-section-2-icon-act" routerLink="members"> <i class="fas fa-users"></i>
                </a>
                <div class="serv-section-desc">
                    <h4>Ressources</h4>
                    <h5>Accès aux ressources</h5></div>
                <div class="section-heading-line-left"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div class="serv-section-2">
                <a class="serv-section-2-icon serv-section-2-icon-act" routerLink="clients"> <i
                        class="fas fa-comments-dollar"></i> </a>
                <div class="serv-section-desc">
                    <h4>Clients</h4>
                    <h5>Accès aux Clients</h5></div>
                <div class="section-heading-line-left"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
            <div class="serv-section-2">
                <a class="serv-section-2-icon serv-section-2-icon-act" routerLink="projects"> <i
                        class="fas fa-folder-open"></i> </a>
                <div class="serv-section-desc">
                    <h4>Projets</h4>
                    <h5>Accès aux Projets</h5></div>
                <div class="section-heading-line-left"></div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div class="serv-section-2 serv-section-2-act">
                <a class="serv-section-2-icon serv-section-2-icon-act" routerLink="dashboard"> <i class="far fa-clock"></i>
                </a>
                <div class="serv-section-desc">
                    <h4>Dashboard</h4>
                    <h5>Société</h5></div>
                <div class="section-heading-line-left"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12 mb-2">
            <div class="serv-section-2 serv-section-2-act">
                <a class="serv-section-2-icon serv-section-2-icon-act" routerLink="lucca-admin"> <i
                        class="fas fa-fire-extinguisher"></i> </a>
                <div class="serv-section-desc">
                    <h4>Administration</h4>
                    <h5>Imports "Lucca"</h5></div>
                <div class="section-heading-line-left"></div>
            </div>
        </div>
    </div>
</div>
