<div class=" content">
    <div class="row mt-4">
        <div class="col-12">
            <h1 class="text-primary text-center" *ngIf="connect as user">
                Bienvenue <strong>{{(user.surname) ? user.surname : '...'}} {{(user.name) ? user.name : '...'}}</strong>
            </h1>
        <h1 class="text-secondary text-center">
            Vous êtes connecté sur l'application Camping Lézardrieux
        </h1>
        <h4 class=" description text-center" *ngIf="connect" [ngSwitch]="connect.role">
            <span *ngSwitchCase="1">avec le profil Utilisateur</span>
            <span *ngSwitchCase="2">avec le profil Manager</span>
            <span *ngSwitchCase="3">avec le profil Administrateur</span>
        </h4>
        </div>
    </div>
</div>
