.mt1 {
 margin-top: 0.5rem;
}
.mt3 {
 margin-top: 1.5rem;
}

.ml {
 margin-left: 0.5rem;
}

.mr {
 margin-right: 0.5rem;
}

.customBreadcumb {
 padding-top: 1rem;
}

.breadcrumb{
 background: transparent;
}
