$red: #F07148;
$marine: #32384D;
$marineOdd: #32385B;

.imageAvatar {
  background-size: cover;
  width: 30px;
  height: 30px;
}

.gantt {
  display: grid;
  border: 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
//  box-shadow: 0 30px 80px -57px #7e8f94;
  padding-bottom: 20px;

  &__row {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: $marine;

    &:nth-child(odd) {
    //  background-color: $marineOdd;

      .gantt__row-first {
    //    background-color: $marineOdd;
      }
    }

    &:nth-child(3) {
      .gantt__row-bars {
        border-top: 0;
      }

      .gantt__row-first {
        border-top: 0;
      }
    }

    &--lines {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparent;
      grid-template-columns: 150px repeat(12, 1fr);

      span {
        display: block;
        border-right: 1px solid rgba(0, 0, 0, 0.1);

        &.marker {
          background-color: rgba(10, 52, 68, 0.13);
          z-index: 2;
        }
      }

      &:after {
        grid-row: 1;
        grid-column: 0;
        background-color: $marine;
        z-index: 2;
        height: 100%;
      }
    }

    &--months {
      color: #fff;
      background-color: $marine !important;
      border-bottom: 1px solid rgba(125, 125, 125,0.5);
      grid-template-columns: 150px repeat(12, 1fr);

      .gantt__row-first {
        border-top: 0 !important;
        background-color: $marine !important;
      }

      span {
        text-align: center;
        font-size: 15px;
        align-self: center;
        padding: 20px 0 20px 0;
      }
    }

    &-first {
      background-color: $marine;
      border-width: 1px 0 0 0;
      border-style: solid;
      padding: 5px 0;
      font-size: 12px;
      font-weight: bold;
      text-align: left;
      margin-left: 5px;
    }

    &-bars {
      list-style: none;
      display: grid;
      padding: 9px 0;
      margin: 0;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 8px 0;

      li {
        font-weight: 500;
        text-align: left;
        font-size: 10px;
        min-height: 15px;
        background-color: #F07148;
        padding: 5px 12px;
        color: #fff;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: 20px;

        &.stripes {
          background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 12px);
        }

        &:before,
        &:after {
          content: "";
          height: 100%;
          top: 0;
          z-index: 4;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }
      }
    }
  }
}
